.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .gradient {
  @apply bg-[linear-gradient(to_bottom,rgba(42,67,101,1),rgba(240,240,240,0))];
} */
.gradient {
  background: linear-gradient(
    180deg,
    #38557d 0%,
    rgba(230, 230, 230, 30%) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient2 {
  @apply bg-[linear-gradient(to_top,rgba(0,0,0,0),rgba(240,240,240,0))];
}

.safefont {
  /* 안심복지 */
  /* 
  position: absolute;
  width: 200px;
  height: 24px;
    left: 44vw;
  top: 20vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #2a4365; */

  /* Seoul My Soul */
  /* 
  position: absolute;
  width: 200px;
  height: 24px;
  left: 44vw;
  top: 20vh;

  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  /* or 50% */

  /* color: #2a4365;  */

  /* 안심복지 */

  position: absolute;
  width: 200px;
  height: 24px;
  left: 44vw;
  top: 20vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  /* identical to box height, or 50% */

  color: #fff5f7;
}

.subtitle {
  /* 원클릭으로 신청하는 나의 맞춤 복지 */

  position: absolute;
  width: 203px;
  height: 53px;
  left: 44vw;
  top: 47vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2a4365;
}

.loginbutton-flex {
  /* Rectangle 2 */

  position: absolute;

  width: 346px;
  height: 36px;
  left: 39vw;
  top: 70vh;
  gap: 35px;

  background: #ffffff;
  border-radius: 10px;
}

.loginbutton {
  width: 346px;
  height: 36px;
  background: #ffffff;
  border-radius: 10px;
  line-height: 36px;
}

.absol-none {
  position: unset;
}

.thin {
  -webkit-text-stroke-width: thin;
}

.passcolor {
  color: red;
}

.kakaocolor {
  color: rgba(236, 201, 75, 1);
}

.seoulmyfont {
  /* Seoul My Soul */

  margin-top: 20px;
  margin-left: 20px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #2a4365;
}

.myseoulheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-between; */
  align-items: baseline;
}

.alarmicon {
  padding-right: 15px;
}

.myInfoCard {
  /* Card */
  width: 413px;
  height: 97px;
  margin: 3vw 0 0 2vw !important;
  background: #2a4365;
  border-radius: 10px;
}

.myInfoBox {
  /* Card */
  box-sizing: border-box;
  width: 413px;
  height: 210px;
  left: calc(50% - 360px / 2);
  top: 328px;
  margin: 2vw;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}

.searchMyCard {
  /* Card */

  width: 378px;
  height: 185px;
  margin: 3vw 0 0 2vw !important;
  background: #2a4365;
  border-radius: 10px;
}

.searchInfoBox {
  margin: 1vw 0 0 1vw;
}

.searchInfoName {
  width: 90px;
  height: 24px;
  margin-top: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  color: #fff5f7;
}

.searchMyInfo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #fff5f7;
}

.searchBoxIcons {
  gap: 3vw;
  justify-content: center;
}
.commonSearchBoxIcon {
  text-align: -webkit-center;
}

.searchIconTitle {
  /* 신원 정보 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #fff5f7;
}

.searchbar {
  /* Card */

  width: 100%;
  height: 48px;
  margin-top: 4vh;

  background: #ffffff;
}

.category_selected {
  /* Rectangle 2 */

  /* overscroll-behavior-x: 10px; */

  width: 59px;
  height: 28px;
  left: 72px;
  top: 274px;

  background: #e2e8f0;
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.64);
}

.category {
  /* Rectangle 6 */

  width: 59px;
  height: 28px;
  left: 138px;
  top: 274px;

  background: #f7fafc;
  border-radius: 25px;

  color: rgba(0, 0, 0, 0.2);
}

.categoryOver {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  display: flex;
  gap: 1vw;
}

.policyBox {
  /* Card */

  box-sizing: border-box;

  width: 360px;
  /* height: 220px; */
  left: calc(50% - 360px / 2);
  top: 328px;
  margin: 3vw;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  height: auto;
}

.cashTitle {
  /* Rectangle 1 */

  box-sizing: border-box;

  width: 59px;
  height: 28px;
  left: 36px;
  top: 340px;

  background: #ffffff;
  border: 1px solid rgba(229, 62, 62, 0.85);
  border-radius: 25px;
}
.titleFont {
  /* 현금 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */

  color: rgba(229, 62, 62, 0.85);
}
.subsidyTitle {
  /* 근로장려금 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: rgba(0, 0, 0, 0.64);
}

.agency {
  /* 국세청 */

  font-family: "Inter";
  font-style: normal;
  align-self: self-end;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #858585;
}

.hrcss {
  width: 90%;
  margin-left: 5%;
}

.textfield {
  /* 전년도 연간 부부합산 총 급여액 등에 따른 근로장려금 ㆍ 단독가구 최대 165만 원 ㆍ 홑벌이 가구 최대 285만 원 ㆍ 맞벌이 가구 최대 330만 원 지급 */
  margin-left: 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  color: rgba(0, 0, 0, 0.64);
}

.receiptArea {
  justify-content: end;
  gap: 5%;
  margin-right: 5%;
}
.expectedReceipt {
  /* 예상 수령금액 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 24px;
  /* identical to box height, or 218% */

  color: rgba(229, 62, 62, 0.85);
}

.amount {
  /* 135만원 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: rgba(229, 62, 62, 0.8);
}

body::-webkit-scrollbar {
  display: none;
}

.Arrowbotton {
  position: absolute;
  left: 37vw;
  top: 3vh;
}
