.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient {
  @apply bg-[linear-gradient(to_bottom,rgba(42,67,101,1),rgba(240,240,240,0))];
}

.gradient2 {
  @apply bg-[linear-gradient(to_top,rgba(0,0,0,0),rgba(240,240,240,0))];
}

.safefont {
  /* 안심복지 */
  /* 
  position: absolute;
  width: 200px;
  height: 24px;
  left: 45%;
  top: 256px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #2a4365; */

  /* Seoul My Soul */

  position: absolute;
  width: 200px;
  height: 24px;
  left: 45%;
  top: 20%;

  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  /* or 50% */

  color: #2a4365;
}

.subtitle {
  /* 원클릭으로 신청하는 나의 맞춤 복지 */

  position: absolute;
  width: 203px;
  height: 53px;
  left: 44%;
  top: 47%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2a4365;
}

.loginbutton-flex {
  /* Rectangle 2 */

  position: absolute;

  width: 346px;
  height: 36px;
  left: 39%;
  top: 70%;
  gap: 35px;

  background: #ffffff;
  border-radius: 10px;
}

.loginbutton {
  width: 346px;
  height: 36px;
  background: #ffffff;
  border-radius: 10px;
  line-height: 36px;
}

.absol-none {
  position: unset;
}

.thin {
  -webkit-text-stroke-width: thin;
}

.passcolor {
  color: red;
}

.kakaocolor {
  color: rgba(236, 201, 75, 1);
}

.seoulmyfont {
  /* Seoul My Soul */

  margin-top: 20px;
  margin-left: 20px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #2a4365;
}

.myseoulheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
}

.alarmicon {
  padding-right: 15px;
}

.searchMyCard {
  /* Card */

  width: 378px;
  height: 185px;
  margin: 3vw 0 0 2.5vw !important;
  background: #2a4365;
  border-radius: 10px;
}

.searchInfoBox {
  margin: 1vw 0 0 1vw;
}

.searchInfoName {
  width: 90px;
  height: 24px;
  margin-top: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  color: #fff5f7;
}

.searchMyInfo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #fff5f7;
}

.searchBoxIcons {
  gap: 3vw;
  justify-content: center;
}
.commonSearchBoxIcon {
  text-align: -webkit-center;
}

.searchIconTitle {
  /* 신원 정보 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #fff5f7;
}

.searchbar {
  /* Card */

  width: 100%;
  height: 48px;
  left: 0px;
  top: 264px;

  background: #ffffff;
}
